.idea/
phpstorm/settings/options/find.xml
phpstorm/settings/options/filetypes.xml
phpstorm/settings/options/web-types-registry.xml
phpstorm/settings/options/php.xml
phpstorm/settings/options/editor.xml
phpstorm/settings/options/debugger.xml
phpstorm/settings/options/baseRefactoring.xml
phpstorm/settings/IntelliJ IDEA Global Settings
phpstorm/settings/options/laf.xml
phpstorm/settings/options/ide.general.xml
phpstorm/settings/options/databaseDrivers.xml
phpstorm/settings/options/colors.scheme.xml
phpstorm/settings/codestyles/Default.xml
